<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'component/style.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    {% include 'component/navbar.html' %}
    {% include 'component/sidebar.html' %}

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            {% block content_header_title %}{% endblock %}
                        </h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {% block content_header_breadcrumb %}{% endblock %}
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </div>
    {% include 'component/footer.html' %}
    {% include 'component/script.html' %}
    {% block jquery %}{% endblock %}
</div>
</body>
</html>